html{
    zoom: reset;
}
.h-1 .p-1{
    background-repeat: no-repeat;
    background-size: 1490px;
    padding-bottom: 5%;
}
li{
    list-style-type: none;
}
.p1-l1{
    color: white;
    padding-top: 10%;
    padding-right: 20%;
    padding-left: 60px;
    font-size: 70px; 
    font-family:'Gill Sans MT', sans-serif;
    font-weight: bold;
}
.p2-l1{
    color: white;
    padding-top: 1%;
    font-size: 70px;
    padding-left: 60px;
    font-family:'Gill Sans MT', sans-serif;
    font-weight: bold;
}
.p1-l2{
    color: white;
    padding-top: 1%;
    font-size: 25px;
    padding-left: 60px;
    font-family:'Gill Sans MT', sans-serif;
    font-weight: 100;
    float: left;
    width: 45%;
}
.btn-1{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 5%;
    padding: 40px;
    font-size: xx-large;
    font-family:'Gill Sans MT', sans-serif;
    font-weight: 100;
    color: white;
}
.btn-1:hover{
    border-radius: 10%;
}
.btn-2{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px;
    margin-right: 60px;
    margin-bottom: 5%;
    padding: 40px;
    font-size: xx-large;
    font-family:'Gill Sans MT', sans-serif;
    font-weight: 100;
    color: white;
}
.big-gp1{
    color: #0a7029;
    padding: 20px;
    font-size: 70px;
    font-family: 'Gill Sans MT', sans-serif;
    text-align: center;
    font-weight: bolder;
}
.big-gp2{
    color: #0a7029;
    padding: 0px;
    font-size: 70px;
    font-family: 'Gill Sans MT', sans-serif;
    text-align: center;
    font-weight: bolder;
}
.text-left{
    font-family: 'Gill Sans MT', sans-serif;;
    float: left;
    width: 55%;
    padding: 5%;
}
.yp {
    color: #fede00;
    font-weight: bolder;
    font-size: 70px;
    line-height: 100%;
    margin-right: 0px;
    padding-right: 0px;
    border: 0px;
}
.gp{
    color: #0a7029;
    font-size: 35px;
    line-height: 50px;
    width: 100%;
    font-family: Poppins;
    margin-right: 0px;
    padding-right: 0px;
    border: 0px;
}
.img-right{
    float: right !important;
    width: 45%;
    border-left: 10%;
}
.gp-poly{
    color: #0a7029;
    font-size: 28px;
    line-height: 100%;
    width: 20%;
    text-align: center;
    padding-left: 70px;
    padding-bottom: 300px;
    font-family: Poppins;
}
.w-1{
    position: absolute;
    height: 200px;
    z-index: 2;
}
.g-1{
    position: absolute;
    height: 150px;
    z-index: 3;
}
.cpos-1 .w-1{
    top: 3430px;
    left: 100px;
}
.cpos-1 .g-1{ 
    top: 3455px;
    left: 125px;
}
.cpos-2 .w-1{
    top: 3550px;
    left: 380px;
}
.cpos-2 .g-1{
    top: 3575px;
    left: 405px;
}
.cpos-3 .w-1{
    top: 3670px;
    left: 660px;
}
.cpos-3 .g-1{
    top: 3695px;
    left: 685px;
}
.cpos-4 .w-1{
    top: 3790px;
    left: 940px;
}
.cpos-4 .g-1{
    top: 3815px;
    left: 965px;
}
.cpos-5 .w-1{
    top: 3910px;
    left: 1220px;
}
.cpos-5 .g-1{
    top: 3935px;
    left: 1245px;
}
.poly{
    position: absolute;
    top: 3450px;
    z-index: 1;
}
.text-pos{
    position: absolute;
    top: 3750px;
    left: 50px;
    z-index: 4;
    font-family: 'Gill Sans MT', sans-serif;
    color: white;
}
.text-pos .big-t{
    font-size: 70px;
    font-weight: bolder;
    width: 80%;
    line-height: 80px;
}
.text-pos .small-t{
    font-size: 35px;
    font-weight: 100;
    width: 70%;
    line-height: 40px;
}
.text-center{
    font-family: 'Gill Sans MT', sans-serif;
    text-align: center;
}
.quote{
    font-size: 70px;
    font-weight: bold;
    color: #0a7029;
    padding-bottom: 40px;
    position: relative;
    z-index: 2;
}
.a-quote{
    font-size: 40px;
    font-weight: 100;
    color: #fede00;
    position: relative;
    z-index: 2; 
}
.bulb{
    position: absolute;
    z-index: 5;
    height: 80px;
    top: 3492px;
    left: 172px;
}
.shield{
    position: absolute;
    z-index: 5;
    height: 80px;
    top: 3610px;
    left: 447px;
}
.plant{
    position: absolute;
    z-index: 5;
    height: 80px;
    top: 3735px;
    left: 720px;
}
.drop{
    position: absolute;
    z-index: 5;
    height: 80px;
    top: 3850px;
    left: 1007px;
}
.heal{
    position: absolute;
    z-index: 5;
    height: 80px;
    top: 3967px;
    left: 1280px;
}
.steps { 
	width:1626px;
	height:422px;
	position:absolute;
}
.sw-1 { 
	box-shadow:15px 15px 30px rgba(0, 0, 0, 0.5);
	background-color:rgba(255, 255, 255, 1);
	width:325px;
	height:392px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 51px;
}
.sg-1 { 
	background-image:linear-gradient(0deg, rgba(10.000000353902578, 112.000000923872, 41.00000135600567, 1) 0%,rgba(60.00000022351742, 213.00000250339508, 0, 1) 100%) ;
	width:265px;
	height:321px;
	position:absolute;
	left:30px;
	top:36px;
	border-radius: 47px;
}
.sw-2 { 
	box-shadow:15px 15px 30px rgba(0, 0, 0, 0.5);
	background-color:rgba(255, 255, 255, 1);
	width:325px;
	height:392px;
	position:absolute;
	left:383px;
	top:0px;
	border-radius: 51px;
}
.sw-3 { 
	box-shadow:15px 15px 30px rgba(0, 0, 0, 0.5);
	background-color:rgba(255, 255, 255, 1);
	width:325px;
	height:392px;
	position:absolute;
	left:768px;
	top:0px;
	border-radius: 51px;
}
.sw-4 { 
	box-shadow:15px 15px 30px rgba(0, 0, 0, 0.5);
	background-color:rgba(255, 255, 255, 1);
	width:325px;
	height:392px;
	position:absolute;
	left:1157px;
	top:0px;
	border-radius: 51px;
}
.sg-2 { 
	background-image:linear-gradient(0deg, rgba(10.000000353902578, 112.000000923872, 41.00000135600567, 1) 0%,rgba(60.00000022351742, 213.00000250339508, 0, 1) 100%) ;
	width:265px;
	height:321px;
	position:absolute;
	left:416px;
	top:36px;
	border-radius: 51px;
}
.sg-3 { 
	background-image:linear-gradient(0deg, rgba(10.000000353902578, 112.000000923872, 41.00000135600567, 1) 0%,rgba(60.00000022351742, 213.00000250339508, 0, 1) 100%) ;
	width:265px;
	height:321px;
	position:absolute;
	left:798px;
	top:36px;
	border-radius: 51px;
}
.sg-4 { 
	background-image:linear-gradient(0deg, rgba(10.000000353902578, 112.000000923872, 41.00000135600567, 1) 0%,rgba(60.00000022351742, 213.00000250339508, 0, 1) 100%) ;
	width:265px;
	height:321px;
	position:absolute;
	left:1191px;
	top:36px;
	border-radius: 51px;
}
.st-1 { 
	color:rgba(255, 255, 255, 1);
	width:164px;
	height:53px;
	position:absolute;
	left:84px;
	top:270px;
	font-family:Poppins;
	text-align:center;
	font-size:30px;
}
.st-2 { 
	color:rgba(255, 255, 255, 1);
	width:295px;
	height:106px;
	position:absolute;
	left:404px;
	top:256px;
	font-family:Poppins;
	text-align:center;
	font-size:30px;
    line-height: 40px;
}
.st-3 { 
	color:rgba(255, 255, 255, 1);
	width:295px;
	height:106px;
	position:absolute;
	left:784px;
	top:256px;
	font-family:Poppins;
	text-align:center;
	font-size:30px;
    line-height: 40px;
}
.st-4 { 
	color:rgba(255, 255, 255, 1);
	width:295px;
	height:106px;
	position:absolute;
	left:1181px;
	top:256px;
	font-family:Poppins;
	text-align:center;
	font-size:30px;
    line-height: 40px;
    width: 18%;
}
.num-size{
    height: 80%;
}
.numpos-1 { 
	width:203px;
	height:203px;
	position:absolute;
	left:85px;
	top:73px;
}
.numpos-2 { 
	width:203px;
	height:203px;
	position:absolute;
	left:470px;
	top:73px;
}
.numpos-3 { 
	width:203px;
	height:203px;
	position:absolute;
	left:850px;
	top:73px;
}
.numpos-4 { 
	width:203px;
	height:203px;
	position:absolute;
	left:1245px;
	top:73px;
}
.small-cut{
    position: absolute;
    top: 4100px;
    height: 15%;
    z-index: 1;
}
.c-quote{
    color: #0a7029;
    text-align: center;
    font-family: 'Gill Sans MT', sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    line-height: 100%;
    width: 85%;
    z-index: 2;
}
.c-container{
    padding-left: 130px;
}
.c-health{
    color: #fede00;
    text-align: right;
    width: 90%;
    padding-left: 150px;
}
.c-f{
    position: relative;
    padding: 20px;
    height: 500px;
    width: 650px;
    z-index: 4;
}
.c1-f{
    position: relative;
    height: 600px;
    width: 750px;
    padding: 20px;
    z-index: 4;
}
.big-cut{
    position: absolute;
    top: 4380px;
    right: 0px;
    height: 20%;
    z-index: 1;
}
.pad{
    padding-left: 100px;
}
.subs{
    width: 586px;
    height: 100px;

    font-family: 'Gill Sans MT';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 115%;

    /* or 46px */
    letter-spacing: 0.027em;

    color: #FEDE00;
}
.email{
    display: flex;
}
.g-submit{
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    z-index: 5;
}
.email input{
    width: 500px;
    height: 70px;
    font-size: 25px;
    padding-top: 20px;
    border: none;
    border-bottom: 5px solid #0a7029;
    background-color: white;
}
.social{
    display: flex;
}
.social li{
    padding: 50px;
    padding-left: 0;
    padding-top: 20px;
}
.foot{
    color: #0a7029;
    font-family: Poppins;
    font-size: 30px;
}
.common ul li{
    padding-right: 50px;
    padding-left: 0px;
}
.common{
    line-height: 30px;
    float: left;
}
.common ul span img{
    height: 50%;
}
.navi{
    column-count: 2;
    float:right;
    height: 250px;
    padding-right: 400px;
}
.foot p a{
    color: #0a7029;
}