.g1-navi ul{
    display: flex;
    list-style-type: none;
}
.g1-navi ul .li-content a{
    display: block;
    color: black;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.5s;
    font-family: 'Gill Sans MT', sans-serif;
}
.li-content a:hover {
    color: #0a7029 !important;
    background: #c8df52;
}
.li-name {
    margin-right: 25%; 
    font-weight: bolder; 
    font-size: x-large;
    font-family: 'Gill Sans MT', sans-serif; 
    margin-left: 15px;
}
.li-name a{
    color: black;
}