/*For Both Pages*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Work+Sans:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color: transparent;
}
.navbar2{
    filter: invert(1);
}
#page{
    transition: background-color 1s ease;
    background: var(--color);
}
.basictext{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 49px;
text-align: center;
color: #191919;
}

/*For Service Page */
.key{
    border: solid 3px violet ;
} 
#serv-second, #serv-third, #serv-fourth, #serv-fifth, #serv-sixth, #serv-seventh, #serv-eight{
    margin-top: 100px;
}
#serv-first{
    background-image: url(https://images.unsplash.com/photo-1580281657527-47f249e8f4df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: max-content;
    width: 100%;
}
#serv-first .row{
    width: 100%;
    z-index: 1000;
}
.logo{
    width: 100px;
    height: 100px;
    color: #FFFFFF;
    z-index: 10;
}
.content{
    z-index: 100;
}
.overlay{
    width: 120vw;
    height: 120vh;
    position:absolute;
    background-color: rgba(241, 80, 37, .78);
    z-index: 0;
}


.tagline h1{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
    color: #FFFFFF;
    overflow: visible;
    margin: 30px;
}
.tagline .d-md-none h1{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 50px !important;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
    overflow: visible;
    margin: 30px;
}
.tagline span {
    display: inline-block;
    transform: translateY(100%);
}
.learnmore{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    z-index: 10;
}
.learnmore p{
    margin-top: 20px;
}
#scroll-down-animation {
    margin-bottom: 20px;
}
.mouse {
    margin: 0 auto;
    display: block;
    border-radius: 50px;
    border: 2px solid #fff;
    height: 100px;
    width: 50px;
    position: relative;
}

.move {
    position: absolute;
    background-color: #fff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: move 2s linear infinite;
}

@keyframes move {
0% {
    transform: translate(-50%,10px);
    opacity: 0;
}
50% {
    transform: translate(-50%,40px);
    opacity: 1;
}
100% {
    transform: translate(-50%,80px);
    opacity: 0;
}
}





#serv-second{
   /* background: #E6E8E6; */
    width: 100%;
}
#serv-second .row{
    padding: 1rem;
}
.mainscreen1{
    min-height: max-content;
    max-height: 100vh;
}
.mainscreen1 img{
    position: relative;
    width: 400px;
    left: 90px;
    top: 30px;
    filter: drop-shadow(5px 4px 5px #6d6a6a);
-webkit-filter: drop-shadow(5px 4px 5px #6d6a6a);
-moz-filter: drop-shadow(5px 4px 5px #6d6a6a);
}

.sticker1, .sticker2, .sticker3{
    position: relative;
    height: 0;
}
.sticker1, .sticker2, .sticker3 img{
    filter: drop-shadow(5px 4px 5px #6d6a6a);
-webkit-filter: drop-shadow(5px 4px 5px #6d6a6a);
-moz-filter: drop-shadow(5px 4px 5px #6d6a6a);
    
}

.sticker1{
    bottom: 730px;
    left: 275px;
    width: 150px;
    transition: ease 1s;
}
.sticker1:hover{
    transform: rotate(11deg) scale(1.2) ;
    -webkit-transform: rotate(11deg) scale(1.2) ;
    -moz-transform: rotate(11deg) scale(1.2) ;
}
.sticker2{
    bottom: 550px;
    right: 220px;
    width: 400px;
    transition: ease 1s;
}
.sticker2:hover{
    transform: scale(1.1) ;
    -webkit-transform: scale(1.1) ;
    -moz-transform: scale(1.1) ;
}

.sticker3{
    bottom: 350px;
    left: 220px;
    width: 300px;
    transition: ease 1s;
}
.sticker3:hover{
    transform: scale(1.1) rotate(11deg) ;
    -webkit-transform: scale(1.1) rotate(11deg) ;
    -moz-transform: scale(1.1) rotate(11deg) ;
}
.inner-container{
    will-change: transform;
}
.inner-container img{
    max-width: 100%;
    will-change: transform;
}
.second-text{
    margin: auto;
}
.logoname{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 92px;
    text-align: center;
    color: #000000;
}

#serv-third{
   /* background: linear-gradient(0deg, #85CBB6, #85CBB6), #191919; */
    width: 100%;
}
#serv-third .row{
    width: 100%;
}
.rowthird{
    height: fit-content;
}
.scanme{
    position: relative;
    bottom: 700px;
    white-space: nowrap;
    height: max-content;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: sidescrollanim 100s linear infinite;
    -webkit-animation: sidescrollanim 100s linear infinite;
    animation: sidescrollanim 100s linear infinite;
}
.scanme h1{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 100px;
    line-height: 117px;
    color: #000000;
    z-index: -1;
}
    @keyframes sidescrollanim {
        from {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        }
        to {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
    }
.prescription{
    z-index: 2;
    width: 100%;
}
.prescription img{
    width: 800px;
    position: relative;
    left: 17%;
}
.scanbox{
    text-align: center;
    height: auto;
    position: relative;
    left: 300px;
    bottom: 500px;
    width: 600px;
    border: solid 2px white;
    backdrop-filter: blur(6px);
    -webkit-animation: scale-out-vertical 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-vertical 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes scale-out-vertical {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
  }
  @keyframes scale-out-vertical {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
  }
.scanbox p{
    font-family: "Arimo";
    font-size: 30px;
}
.prescription:hover .scanbox{
    display: block;
    -webkit-animation: scale-in-ver-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
.highlight{
    background-position: left;
    background-size: 0% 100% ;
    background-image: linear-gradient(yellow, yellow);
    transition: 0.5s ease-in-out;
    padding: 3px;
}
.scanbox:hover .highlight{
    font-size: 32px;
    background-size: 100% 100%;
    background-position: right;
}

#serv-fourth{
    height: max-content;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}
#serv-fourth .row{
    margin-bottom: 20px;
}
.imgboxrow{
    position: relative;
    height: 33vh;
    width: 100%;
    margin: 10px;
    top: 20px;
}
.imgbox{
    width: 250px;
    height: 250px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
.imgbox img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.screen2{
    position: absolute;
    top: 50px;
    left: -0px;
}
.screen2 img{
    width: auto;
    height: 100vh;
}
.ordertext{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 800;
font-size: 80px;
line-height: 94px;
text-align: center;

color: #000000;
}

#serv-fifth{
    width: 100%;
}
.text-fifth{
    margin: auto;
}
.d-md-none.text-fifth{
    margin-bottom: 100px;
}
.stocktext{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 70px;
text-align: center;

color: #000000;
}
.map-pin{
    margin:auto;
}
.mapimg{
    width: auto;
    height: 800px;
    position: relative;
    left: 60px;
}
.pinbox1, .pinbox2{
    width: 250px;
    position: relative;
    transition: ease 1s;
    height: 0;
}
.pinbox1{
    bottom: 800px;
    left: 230px;
}
.pinbox1:hover{
    -webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}
.pinbox2{
    left: 120px;
    bottom: 370px;
}
.pinbox2:hover{
    -webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}
@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }

#serv-sixth{
    width: 100%;
    position: relative;
}

.discounts{
    margin-top: 100px;
    position: relative;
    white-space: nowrap;
    left: -1000px;
    height: max-content;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: sidescrollanim 100s linear infinite;
    -webkit-animation: sidescrollanim 100s linear infinite;
    animation: sidescrollanim 100s linear infinite;
}
.discounts p{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 100px;
    line-height: 117px;
    color: #ffffff;
    z-index: -1;
}
.vouchers{
    white-space: nowrap;
    position: relative;
    left: -2000px;
    height: max-content;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: sidescrollanim2 100s linear infinite;
    -webkit-animation: sidescrollanim2 100s linear infinite;
    animation: sidescrollanim2 100s linear infinite;
}
.vouchers p{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 100px;
    line-height: 117px;
    color: #ffffff;
    z-index: -1;
}
@keyframes sidescrollanim2 {
    from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    }
    to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    }
}

.lowestprice{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
}
.basictext2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
}
#sixth-midtext{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.sticker4, .sticker5, .sticker6, .sticker7{
    position: absolute;
    z-index: 1;
}
.sticker4{
    width: 500px;
    left: 40px;
    top: 0px;
}
.sticker5{
    width: 250px;
    right: 350px;
    transform: rotate(20deg);
    top: 10px;
}
.sticker6{
    width: 350px;
    left: 250px;
    transform: rotate(-15deg);
    bottom: -60px;
}
.sticker7{
    width: 350px;
    transform: rotate(27.36deg);
    right: 350px;
    bottom: 0px;
}

#serv-seventh{
    width: 100%;
    position: relative;

}
.seventh-text{
    margin: auto;
}
.sticker8, .sticker9{
    position: relative;
    height: 0;
}
.sticker8{
    bottom: 740px;
    right: 80px;
    width: 225px;
    height: 274px;
}
.sticker9{
    bottom: 685px;
    left: 115px;
    width: 578px;
    height: 562px;
}
.consult{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align: center;    
    color: #000000;
}
#serv-eight{
    width: 100%;
    position: relative;
}
.wedesign h1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 117px;
    text-align: right;
    color: #000000;
    overflow: hidden;

}
.hexspan{
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 150px;
    color: #000000;
}
.expspan{
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 600;
    font-size: 100px;
    line-height: 117px;
    color: #000000;
}

.wedesign1{
    display: inline-block;
    transform: translateY(150%);
}
img.teamlogo{
    position: relative;
    height: 0;
    bottom: 110px;
    left: 125px;
    width: 412px;
    height: 407px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
.linkbtn{
    align-items: center;
    padding: 1vh;
    width: 321px;
    height: 73px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}
[role="button"]:hover{
    color: white;
    border-color: white;
}
.boton{
    position: relative;
    bottom: 100px;
}



.imageWrapper{
    position:absolute;
    width:250px;
    height:350px;
    background-color:transparent;
    overflow:hidden;
    left:10%;
    margin-top:0%;
}
img#scan-pic{
    width:100%;
    height:100%;
    object-fit:cover
}
img.bg-products{
    width: 25%;
    height: 25%;
}


/*For Landing Page*/
.groupbody{
    background-color: #191919;
}
#land-first, #land-second, #land-third, #land-fourth, #land-fifth{
    background-color: #191919;
    color: white;
}
#team-logo, div#land-fourth img#logo-fourth, div#land-fifth img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
body {
    -ms-scroll-chaining: none;
        overscroll-behavior: none;
    height: 100vh;
}
header{
    background-color: rgba(0, 0, 0, 0) !important;
}
#land-first{
    position: relative;
}
.about-team{
    -ms-scroll-chaining: none;
        overscroll-behavior: none;
    width: 600%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}
div#land-first{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 117px;
    color: white;
}
.rowfirst{
    z-index: 2;
}
.firstimg1, .firstimg2{
    position: absolute;
    z-index: 1;
    width: 400px;
    height: auto;
    filter: none !important;
    transition: ease 1s;
}
.firstimg1{
    top: 10%;
    left: 10%;
    -webkit-animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.firstimg2{
    bottom: -5%;
    right: 10%;
    -webkit-animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}
@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
#team-name{
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 120px;   
    color: #FFFFFF;
}
.arttech{
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 600;
    font-size: 100px;
    line-height: 117px;
    text-align: center;
    color: #FFFFFF;
}
.paragraph-container{
    -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
@-webkit-keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
#more{
    padding: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.paragraph-container{
    position: relative;
    bottom: 50px;
}
#team-logo{
    position: relative;
    bottom: 100px;
}
#line{
    border: 1px solid #FFFFFF;
    width: 5vw;
    height: 0px;
    position: relative;
    top: 20px;
}
#since{
    position: relative;
    bottom: 10px;
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
}
#land-second-text{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 60px;
}
.binondo{
    width: 100%;
    height: 302px;
    background-image: url(https://images.unsplash.com/photo-1628498305298-4e925b8fd6c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#land-third{
    height: 100vh;
}
.land-third-titles{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    padding: 40px;
}
.land-third-text{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px;
}
#land-fourth{
    height:max-content;
}
#logo-fourth{
    width: 150px;
    height: 150px;
    position: relative;
    top: 100px;
    left: 300px;
}
#meet{
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
}
.selfie{
    width: 500px;
    height: 600px;
    position: relative;
    top: 50px;
    overflow: hidden;
}
.selfie img{
    transform: scale(1.3); 
    object-fit: cover;
}

#land-fourth .text{
    position: relative;
    top: 150px;
}
.panel .name{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align: right;
    padding: 20px;
}
.panel .role{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    padding: 20px;
}
.desc{
    word-wrap: break-word;
    text-align: right !important;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    color: #FFFFFF !important;
}

#land-fifth-img1{
    width: 364px;
    height: 364px;
    -webkit-animation: rotating 60s linear infinite;
  -moz-animation: rotating 60s linear infinite;
  -ms-animation: rotating 60s linear infinite;
  -o-animation: rotating 60s linear infinite;
  animation: rotating 60s linear infinite;
}
#land-fifth-img2-container{
    height: 0;
}
#land-fifth-img2{
    width: 320px;
    height: 320px;
    position: relative;
    right: 50px
    -webkit-animation: heartbeat 5s ease-in-out infinite both;
	        animation: heartbeat 5s ease-in-out infinite both;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
#work{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 117px;
    color: #F15025;
    white-space: nowrap;
    left: -1000px;
    height: max-content;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: sidescrollanim 300s linear infinite;
    -webkit-animation: sidescrollanim 300s linear infinite;
    animation: sidescrollanim 300s linear infinite;
}
#contact{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding: 20px;
}
#email{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    border: 1px solid white;
    width: 330px;
    padding: 20px;
    margin: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}
#links{
    padding: 20px;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
    z-index: 1;
}
@media screen and (max-width: 992px) {
    .paragraph-container, .arttech{
        font-size: 50px;
        line-height: 60px;   
    }
    #team-name{
        font-size:60px;
        line-height: 60px;   
    }
    #team-logo{
        width: 200px;
        height: 200px;
    }
    #land-second-text{
        font-size: 20px;
    }
    #land-third{
        height: 100vh !important;
        background-color: #191919;
    }
    .land-third-titles{
        font-size: 40px;
    }
    .land-third-text,
    .award{
        font-size: 20px;
    }
    #land-fourth .text{
        position: relative;
        top: 0px;
        height: 50vh;
        width: 60vw;
    }
    .selfie{
        width: 41.67vh;
        height: 50vh;
        overflow: hidden;
        margin: auto;
    }
    .selfie img{
        transform: scale(1.3); 
        object-fit: cover;
    }
    .wedesign h1{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 70px;
        line-height: 117px;
        text-align: right;
        color: #000000;
        overflow: hidden;
    }
    .hexspan{
        font-family: 'VT323';
        font-style: normal;
        font-weight: 400;
        font-size: 120px;
        line-height: 150px;
        color: #000000;
    }
    .expspan{
        font-family: 'Work Sans';
        font-style: italic;
        font-weight: 600;
        font-size: 70px;
        line-height: 117px;
        color: #000000;
    }
  }